$colwidth: 47%;
$padding: 10px;
 
body{
  font-family:'Roboto', sans-serif;
}
div{
  width: $colwidth;
  display: inline;
}
textarea{
  width: $colwidth;
  height: auto;
  float: left;
  padding: $padding;
}
#right{
  float: right;
  /*background-color: #ccffff; - see styles variable in JS and Message class*/
  padding: $padding;
  padding-top: 0px;
}

@media(max-width: 770px) {
  textarea{
    float: none;
  }
  #right{
    float: none;
    background-color: none;
    
  }
}
